<nav class="navbar navbar-light bg-white shadow-sm mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/logo.svg" height="30px" class="d-inline-block align-text-top">
    </a>
    <a href="/login" class="btn btn-outline-dark">Login</a>
  </div>
</nav>