<meta charset="UTF-8">
<title><%= title %></title>
<link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel='stylesheet' href='/static/stylesheets/style.css' />
<link rel="shortcut icon" href="/static/favicon.ico" />