<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel='stylesheet' href='/static/stylesheets/style.css' />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<link rel="shortcut icon" href="/static/favicon.ico" />
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    let filename = window.location.pathname;
    let link = filename.split('/')[1];
    if(link == '') link = 'vino';
    navlink = document.querySelector(`[href^='/${link}']`)
    navlink.classList.toggle('active')
  });
</script>