<nav class="navbar navbar-light bg-white shadow-sm mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/logo.svg" height="70" class="d-inline-block align-text-top">
    </a>
  </div>
</nav>