<!DOCTYPE html>
<html>
<head>
    <title>Agregar Bodega</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
    <div class="text-center"><h1>Agregar Bodega</h1></div>
    <div class="container">
        <% if(typeof id !== 'undefined') { %>
            <div class="row"> 
                <div class="alert alert-success" role="alert">
                    Insertada bodega correctamente con id <%= id %>
                </div>
            </div>
        <% } %> 
        <div class="row"> 
            <form action="agregarBodega" enctype="multipart/form-data" method="POST">
                <div class="row mt-1">
                    <h3>Nombre:</h3> <input class="form-control-lg" name="nombre" type="text">
                </div>
                <div class="row mt-1">
                    <h3>Año de creación:</h3> <input class="form-control-lg" name="anyoCreacion" type="text">
                </div>
                <div class="row mt-1">
                    <h3>Localización geográfica:</h3> <input class="form-control-lg" name="localizGeo" type="text">
                </div>
                <div class="row mt-1">
                    <h3>Descripción:</h3> <input class="form-control-lg" name="descripcion" type="text">
                </div>
                <div class="row mt-1">
                    <h3>Denominaciones de Origen:</h3> <input class="form-control-lg" name="denominOrigen" type="text">
                </div>
                <div class="row mt-1">
                    <h3>Imagen:</h3> <input type="file" name="imagen" class="form-control-lg" accept="image/png,image/jpeg">
                </div>
                <div class="row mt-4">
                    <div class="col d-grid">
                        <button type="submit" class="btn menu boton-buscar btn-dark "><h2>Agregar</h2></button>
                    </div>
                    <div class="col d-grid">
                        <a type="button" href="/" class="btn btn-lg btn-dark " ><h2>Volver</h2></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>