<!DOCTYPE html>
<html>
<head>
    <title>Agregar Vino</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="text-center"><h1>Agregar Vino</h1></div>
    <div class="container">
        <div class="row"> 
            <form action="/vinos/agregarVino" enctype="multipart/form-data" method="POST">
                <div class="row mt-1">
                    <h3>Nombre:</h3> 
                    <input class="form-control-lg" name="nombre" type="text">
                </div>
                <div class="row mt-1">
                    <h3>Grado Alcoholico:</h3> <input class="form-control-lg" name="gradoAlcohol" type="number" step="0.01" min="0" max="20">
                </div>
                <div class="row mt-1">
                    <h3>Bodega:</h3> <input class="form-control-lg" name="bodega" type="text">
                </div>
                <div class="row mt-1">
                    <h3>Localidad:</h3> <input class="form-control-lg" name="localidad" type="text">
                </div>
                <div class="row mt-1">
                    <h3>Clase:</h3>
                    <select class="selectpicker form-select form-select-lg" name="clase" data-style="btn-danger" style="border: 2px solid rgb(82, 82, 82);">
                        <option>Blanco</option>
                        <option>Rosado</option>
                        <option>Tinto</option>
                        <option>Clarete</option>
                        <option>Blanc de blanc</option>
                        <option>Blanc de noirs</option>
                        <option>vino de nueces</option>
                        <option>vino especiado</option>
                        <option>Otros</option>
                    </select>
                </div>
                <div class="row mt-1">
                    <h3>Tipo:</h3> 
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="tipo" value="Tranquilo" checked>Tranquilo
                        <label class="form-check-label" for="radio1"></label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="tipo" value="Espumoso">Espumoso
                        <label class="form-check-label" for="radio2"></label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="tipo" value="Espirituoso">Espirituoso
                        <label class="form-check-label"></label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="tipo" value="Vino oloroso">Vino oloroso
                        <label class="form-check-label"></label>
                    </div>
                </div>
                <div class="row mt-1">
                    <button id="AgregaPorcentaje">Agregar</button>
                </div>                
                
                <div class="row mt-1">
                    <h3>Imagen:</h3> <input type="file" name="imagen" class="form-control-lg" accept="image/png,image/jpeg">
                </div>
                <div class="row mt-4">
                    <div class="col d-grid">
                        <button type="submit" class="btn menu boton-buscar btn-dark "><h2>Agregar</h2></button>
                    </div>
                    <div class="col d-grid">
                        <a type="button" href="/" class="btn btn-lg btn-dark " ><h2>Volver</h2></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    document.getElementById("AgregaPorcentaje").addEventListener("click", function (evt){
        evt.preventDefault();
        let btn = evt.currentTarget;
        btn.parentNode.append(document.createElement("input"));
        console.log(evt.currentTarget);
    });
    
</script>
</html>