<!DOCTYPE html>
<html>
<head>
    <title>Agregar Vino</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    
    <div class="text-center"><h1>Agregar Vino</h1></div>
    <div class="container">
        <div class="row"> 
            <form class="needs-validation" action="/vinos/agregarVino" enctype="multipart/form-data" method="POST" novalidate>
                <div class="row mt-1">
                    <label for="validationCustom01" class="form-label">Nombre</label>
                    <input class="form-control" id="validationCustom01" minlength="1" maxlength="50" type="text" required>
                    <div class="valid-feedback">
                        Nombre correcto!
                    </div>
                    <div class="invalid-feedback">
                        Nombre incorrecto!
                    </div>
                </div>
                <div class="row mt-1">
                    <label for="validationCustom02" class="form-label">Grado alcoholico:</label>
                    <input class="form-control" id="validationCustom02" minlength="1" maxlength="2" name="gradoAlcohol" type="number" step="0.01" min="0" max="20" required >
                    <div class="valid-feedback">
                        Grado alcoholico correcto!
                    </div>
                    <div class="invalid-feedback">
                        Grado alcoholico incorrecto!
                    </div>
                </div>
                <div class="row mt-1">
                    <label for="validationCustom03" class="form-label">Bodega:</label>
                    <input class="form-control" id="validationCustom03" minlength="1" maxlength="59" name="bodega" type="text" required/>
                    <div class="valid-feedback">
                        Bodega correcta!
                    </div>
                    <div class="invalid-feedback">
                        Bodega incorrecta!
                    </div>
                </div>
                <div class="row mt-1">
                    <label for="validationCustom04" class="form-label">Localidad:</label>
                    <input class="form-control" id="validationCustom04" minlength="1" maxlength="20" name="localidad" type="text" required/>
                    <div class="valid-feedback">
                        Localidad correcta!
                    </div>
                    <div class="invalid-feedback">
                        Localidad incorrecta!
                    </div>
                </div>
                <div class="row mt-1">
                    <label for="validationCustom04" class="form-label">Clase:</label>
                    <select class="selectpicker form-select" name="clase" data-style="btn-danger">
                        <option>Blanco</option>
                        <option>Rosado</option>
                        <option>Tinto</option>
                        <option>Clarete</option>
                        <option>Blanc de blanc</option>
                        <option>Blanc de noirs</option>
                        <option>vino de nueces</option>
                        <option>vino especiado</option>
                        <option>Otros</option>
                    </select>
                </div>
                <div class="row mt-1">
                    <label for="validationCustom05" class="form-label">Tipo:</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="tipo" value="Tranquilo" checked>Tranquilo
                        <label class="form-check-label" for="radio1"></label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="tipo" value="Espumoso">Espumoso
                        <label class="form-check-label" for="radio2"></label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="tipo" value="Espirituoso">Espirituoso
                        <label class="form-check-label"></label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="tipo" value="Vino oloroso">Vino oloroso
                        <label class="form-check-label"></label>
                    </div>
                </div>
                <div class="row mt-1">
                    <label for="validationCustom06" class="form-label">Imagen:</label>
                    <input type="file" name="imagen" class="form-control" accept="image/png,image/jpeg" required>
                </div>
                <div class="row mt-4">
                    <div class="col d-grid">
                        <button type="submit" class="btn menu boton-buscar btn-dark "><h2>Agregar</h2></button>
                    </div>
                    <div class="col d-grid">
                        <a type="button" href="/" class="btn btn-lg btn-dark " ><h2>Volver</h2></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
    'use strict'
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }

            form.classList.add('was-validated')
        }, false)
        })
    })()
</script>
</html>