<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/_head',{title:'Agregar Bodega'}); %>
</head>
<body>
    <%- include('./partials/_header'); %>
    <div class="text-center"><h1>Agregar Bodega</h1></div>
    <div class="container">
        <% if(typeof id !== 'undefined') { %>
            <div class="row"> 
                <div class="alert alert-success" role="alert">
                    Insertada bodega correctamente con id <%= id %>
                </div>
            </div>
        <% } %> 
        <div class="row"> 
            <form class="needs-validation" action="/bodega/agregarBodega" enctype="multipart/form-data" method="POST" novalidate>
                <div class="row mt-1">
                  <label for="validationCustom01" class="form-label">Nombre</label>
                  <input class="form-control" id="validationCustom01" name="nombre" minlength="1" maxlength="50" type="text" required>
                  <div class="valid-feedback">
                    Nombre correcto!
                  </div>
                  <div class="invalid-feedback">
                      Nombre incorrecto!
                  </div>
                </div>
                <div class="row mt-1">
                  <label for="validationCustom02" class="form-label">Año de creación</label>
                  <input class="form-control" id="validationCustom02" name="anyoCreacion" minlength="1" maxlength="4" type="number" step="1" min="1900" max="2022" required >
                  <div class="valid-feedback">
                    Año correcto!
                  </div>
                  <div class="invalid-feedback">
                    Año incorrecto!
                  </div>
                </div>
                <div class="row mt-1">
                  <label for="validationCustom03" class="form-label">Localización geográfica</label> 
                    <input class="form-control" id="validationCustom03" name="localizGeo" type="text" minlength="1" maxlength="50" type="text" required>
                    <div class="valid-feedback">
                      Localización geográfica correcta!
                    </div>
                    <div class="invalid-feedback">
                      Localización geográfica incorrecta!
                    </div>
                </div>
                <div class="row mt-1">
                  <label for="validationCustom04" class="form-label">Descripción</label> 
                  <input class="form-control" id="validationCustom04" name="descripcion" minlength="1" maxlength="500" type="text" required>
                  <div class="valid-feedback">
                    Descripción correcta!
                  </div>
                  <div class="invalid-feedback">
                    Descripción incorrecta!
                  </div>
                </div>
                <div class="row mt-1">
                  <label for="validationCustom05" class="form-label">Denominación de origen:</label> 
                  <input class="form-control" id="validationCustom05" name="denominOrigen" minlength="1" maxlength="50" type="text" required>
                </div>
                <div class="row mt-1">
                  <label for="validationCustom06" class="form-label">Imagen:</label> 
                  <input type="file" name="imagen" class="form-control" accept="image/png,image/jpeg" required>
                </div>
                <div class="row mt-4">
                    <div class="col d-grid">
                        <button type="submit" class="btn menu boton-buscar btn-dark "><h2>Agregar</h2></button>
                    </div>
                    <div class="col d-grid">
                        <a type="button" href="/" class="btn btn-lg btn-dark " ><h2>Volver</h2></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
  'use strict'
  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
      .forEach(function (form) {
      form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
          }

          form.classList.add('was-validated')
      }, false)
      })
  })()
</script>
</html>