<!DOCTYPE html>
<html>
<head>
    <title>Agregar Usuario</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
    <div class="text-center"><h1>Agregar Usuario</h1></div>
    <div class="container">
        <div class="row"> 
            <form action="/insertarUsuario" method="POST">
                <div class="row mt-1">
                    <h3>Nombre:</h3> <input class="form-control-lg" name="user" type="text">
                </div>
                <div class="row mt-1">
                    <h3>Contraseña:</h3> <input class="form-control-lg" name="password" type="text">
                </div>
                <div class="row mt-1">
                    <button type="submit" class="btn menu boton-buscar btn-dark "><h2>Agregar</h2></button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>