<!DOCTYPE html>
<html lang="es-ES">
<head>
  <%- include('./partials/_head',{title:message}); %>
  <link rel='stylesheet' href='/static/stylesheets/error.css' />
</head>
<body>
  <div id="notfound">
    <div class="notfound">
      <div class="notfound-404"></div>
      <h1><%=status%></h1>
      <h2><%=message%></h2>
      <pre><%=stack%></pre>
      <a href="/" class="btn btn-light">Ir al inicio</a>
    </div>
  </div>
</body>
</html>
