<!DOCTYPE html>
<html lang="es-ES">
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/error.css' />
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
  <div id="notfound">
    <div class="notfound">
      <div class="notfound-404"></div>
      <h1><%=status%></h1>
      <h2><%=message%></h2>
      <pre><%=stack%></pre>
      <a href="/">Ir al inicio</a>
    </div>
  </div>
</body>
</html>
