<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the <%= title %></p>
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="h1">Ir a Vinos</p>
            <form class="form-group row" method="GET" action="vinos/mostrarVino">
              <div class="col-6">
                <label for="">ID:</label>
                <input type="text" class="form-control" id="idVino" aria-describedby="vinoHelp" placeholder="id vino" name="id">
                <small id="vinoHelp" class="form-text text-muted">Introduce el id del vino</small>              
              </div>
              <div class="col-6">
                <input class="btn btn-primary m-4" type="submit" value="MostrarVino">
              </div>
            </form>
        </div>
        <div class="col">
          <p class="h1">Bodegas</p>
          <a href="bodega/insertarBodega" class="btn btn-primary m-4">Añadir Bodega</a>
        </div>
      </div>
    </div>
  </body>
</html>
