<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the <%= title %></p>
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="h1">Ir a Vinos</p>
            <form class="form-group row" method="POST" action="vinos/mostrarVino">
              <div class="col-6">
                <label for="">ID:</label>
                <input type="text" class="form-control" id="idVino" aria-describedby="vinoHelp" placeholder="id vino">
                <small id="vinoHelp" class="form-text text-muted">Introduce el id del vino</small>              
              </div>
              <div class="col-6">
                <input class="btn btn-primary m-4" type="submit" value="MostrarVino">
              </div>
            </form>
          <a class="h4 btn btn-primary mt-3" href="/">Añadir Vino</a>
        </div>
        <div class="col">
          <p class="h1">Ir a Bodegas</p>
          <form class="form-group row" method="GET" action="bodega/detalles">
            <div class="col-6">
              <label for="idBodega">ID:</label>
              <input type="text" class="form-control" id="idBodega" aria-describedby="bodegaHelp" placeholder="id bodega" name="id">
              <small id="bodegaHelp" class="form-text text-muted">Introduce el id de la bodega</small>              
            </div>
            <div class="col-6">
              <input class="btn btn-primary m-4" type="submit" value="MostrarBodega">
            </div>
          </form>
          <a class="h4 btn btn-primary m-4" href="/">Añadir Bodega</a>
        </div>
      </div>
    </div>
  </body>
</html>