<!DOCTYPE html>
<html>
  <head>
    <title>Vinos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body>
    <h1>Vinos</h1>
    
  </body>
</html>
