@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  min-height: 100vh;
  background: rgb(66,65,65);
  background: linear-gradient(135deg, rgba(66,65,65,1) 0%, rgba(48,48,48,1) 35%, rgba(48,48,48,1) 100%);
}

body { 
  font: 16px 'Open Sans', sans-serif;
  background-color: #e9e9e9;
  color: white;
}

a {
  color: #00B7FF;
}

/*Clase de bootstrap*/
.form-floating {
  color: black;
}

/*Estilo Barra de navegacion*/
.navbar-shadow {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.65); 
}

.link-animation{
  position: relative;
  padding: 0.5rem 0rem!important;
  margin: 0rem 0.5rem!important;
  box-shadow: 0px 0px 0px 0px #F00;
  transition: box-shadow 0.6s linear;
  color: #F00!important;
}

.link-animation::after{
  content: '';
  background: #F00;
  display: block;
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 0px;
  transition: width 0.15s linear;
}

.link-animation:hover::after{
  width: 100%;
}

.link-animation.active::after{
  content: '';
  background: #F00;
  display: block;
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 100%;
}

.bg-dark {
  background-color: silver!important;
  color: black;
}

.card-title a{
  color: #F00!important;
}